#content {
    height: 540px;
}

form {
    margin: 0 auto;
}

.dialog {
    margin-bottom: 50px;
}
.label {
    float: left;
    width: 100px;
}

.txtField {
    width: 150px;
}

.btnMenu {
    margin-right: 5px;
    margin-bottom: 10px;
    float: right;
}

.btnSalir {
    margin-left: 5px;
    margin-bottom: 10px;
    float: left;
}